.item{
    text-align:center;
    display:block;
    border: 2px solid black;
    margin-top:2px;
    margin-bottom:10px;
    
    height:30px;
    padding-top:15px;
    width:200px;
    margin-left:10px;
    margin-right:10px
    

}
.nav-wrapper{
    display:flex;
    justify-content: center;
}